    .hero_budget {
    }

    .hero_budget-bg {
    height: 350px;
    position: relative;
    }

    .hero_budget-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    .hero_budget-bg::after {
    content: '';
    display: block;
    width: 100%;
    height: 350px;
    background: var(--gradient-bg-transparet);
    position: absolute;
    top: 0;
    left: 0;
    }

    .hero_budget-numbers {
    margin-top: -150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .hero_budget-numbers .budget_numbers {
    z-index: 1;
    background: var(--gradient-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    text-align: center;
    border-radius: 2px;
    }

    .budget_numbers:nth-child(1) {
    background-color: var(--color-primary);
    }

    .budget_numbers:nth-child(2) {
    background-color: var(--color-success);
    }

    .budget_numbers:nth-child(3) {
    background-color: var(--color-error);
    }

    .budget_numbers-icon {
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 500px;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    }

    .budget_numbers-money > div {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    }
    .budget_numbers-money > small {
    color: var(--color-text-light);
    }
